<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Players</title>
  </head>

  <body>
    <div class="table-responsive">
      <table class="table-condensed table-striped"
             data-search="true"
             data-toggle="table"
             data-url="players"
             data-sort-name="xg"
             data-sort-order="desc"
             data-pagination="true"
             data-page-size="10"
             data-show-refresh="true">
          <thead class="thead-dark">
              <tr>
                  <th data-sortable="true" data-field="name">Name</th>
                  <th data-sortable="true" data-field="cost" data-order="desc" data-align="center">Cost</th>
                  <th data-sortable="true" data-field="selected_by" data-order="desc" data-align="center">Selected By</th>
                  <th data-sortable="true" data-field="points" data-order="desc" data-align="center">Points</th>
                  <th data-sortable="true" data-field="ppg" data-order="desc" data-align="center">PPG</th>
                  <th data-sortable="true" data-field="xg" data-order="desc" data-align="center">xG</th>
                  <th data-sortable="true" data-field="xa" data-order="desc" data-align="center">xA</th>
                  <th data-sortable="true" data-field="goals" data-order="desc" data-align="center">Goals</th>
                  <th data-sortable="true" data-field="assists" data-order="desc" data-align="center">Assists</th>
                  <th data-sortable="true" data-field="clean_sheets" data-order="desc" data-align="center">Clean Sheets</th>
                  <th data-field="fixture_list" data-align="center">Fixtures</th>
              </tr>
          </thead>
      </table>
    </div>
  </body>

</html>
