<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Players</title>
  </head>

  <body>
    <table data-search="true" data-toggle="table" data-url="all_players/get_data">
        <thead>
            <tr>
                <th data-sortable="true" data-field="id">ID</th>
                <th data-sortable="true" data-field="name">Name</th>
                <th data-sortable="true" data-field="now_cost">Cost</th>
                <th data-sortable="true" data-field="selected_by_percent">Selected By</th>
                <th data-sortable="true" data-field="transfers_out_event">Transfers Out This GW</th>
                <th data-sortable="true" data-field="transfers_in_event">Transfers In This GW</th>
                <th data-sortable="true" data-field="total_points">Total Points</th>
                <th data-sortable="true" data-field="points_per_game">PPG</th>
                <th data-sortable="true" data-field="goals_scored">Goals</th>
                <th data-sortable="true" data-field="assists">Assists</th>
                <th data-sortable="true" data-field="clean_sheets">Clean Sheets</th>
            </tr>
        </thead>
    </table>

  </body>

</html>
